---
import path from 'path'
import '@fontsource/inter'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '@fontsource/inter/800.css'
import '@fontsource/inter/900.css'
import { SEO } from 'astro-seo'
// import codeGenieLogoLarge from '../assets/images/code-genie-logo-large.webp'
import codeGenieIntroVideoPoster from '../assets/videos/code-genie-intro-poster.jpg'
import codeGenieIntroVideo from '../assets/videos/code-genie-intro.mp4'

export interface Props {
  title: string
}

const { title } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const ogImage = canonicalURL + codeGenieIntroVideoPoster.src
const ogVideo = canonicalURL + codeGenieIntroVideo
const description =
  'Generate source code for full stack AWS serverless apps with Next.js, React, Express, Lambda, API Gateway, Cognito Auth, DynamoDB, and more based on your data model.'
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title,
          type: 'website',
          image: ogImage,
        },
        optional: {
          siteName: 'Code Genie',
          description,
          video: ogVideo,
        },
      }}
      twitter={{
        site: 'AWSbrett',
        creator: 'AWSbrett',
        title: 'Code Genie',
        image: ogImage,
        card: 'summary_large_image',
        description,
        imageAlt: 'Code Genie',
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Calendly link widget begin -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async></script>
    <!-- Calendly link widget end -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DF6WBB8HG"
    ></script><script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-8DF6WBB8HG')
    </script></head
  >
  <!-- Google tag (gtag.js) -->

  <body>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
